[defaults]
inventory = ./inventory/hosts.yaml
roles_path = ./roles/
host_key_checking = False
ssh_agent = auto
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
